.nav {
  li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;

    a {
      color: #b33f9f;
      cursor: pointer;
      &:hover {
        color: $primary-color;
      }
    }
  }
}
