<header>
  <div class="p-grid">
    <div class="p-col-3">
      <div class="logo">
        <img src="assets/images/logoo.jpg" alt="logo" />
      </div>
    </div>
    <div class="p-col-4 search"><products-search></products-search></div>
    <div class="p-col-3  navigation">
      <misspcosmetics-nav></misspcosmetics-nav>
    </div>
    <div>
     
        <button class="signin" ><a routerLink="/login">Sign In</a></button>
      
    </div>
    <div class="p-col-1 tools">
     
      <orders-cart-icon></orders-cart-icon>
    </div>
  </div>
</header>
